

#image {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 60%;
    left: 25%;
    font-family: 'Spectral', serif;
    color: white;
    font-size: 20px;
    display: table-column;
    flex-direction: column;
    line-height: 50%;
    text-align: left;
}

.subtitle {
    position: relative;
    top: -170px;
    left: 24.8%;
    font-family: 'Spectral', serif;
    color: white;
    opacity: 80%;
    font-size: 12px;
}

.names {
    position: absolute;
    top: 17%;
    left: 65vh;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    font-family: 'Spectral', serif;
    color:  #ebcfbe;
    opacity: 60%;
    font-size: 12px;
}


