


/* rememember to comment */



/* set margin in body for mobile access (rem) (margin-bottom-top:1rem)*/

/* .class img { */


/* ul.class li:hover img { */



/* work with mobile version first and then progressively add media query as screen increases*/

/* .. means going up two folders */

/* command D to select all the styles */

/* relative vs. absolute links */

/* lorem for sample text */

/* p, h1, h2, h3, {style} */

/*link multiple css, the lower it is the more important it is */

/* max-width: .. ch (character limit) */

/* use flex box for display (column or row) */



/* align-self: center to avoid img stretch */


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color: white;
}

p {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#app div.step {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#app div.step p {
    color: #ffffff;
  }
