
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');  

body {
    background-color: rgb(138, 80, 10);
    font-family: calluna, serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .1rem;
    color: white;
}


a:link {
    color: rgb(0, 0, 0);
}
  
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
} 

span {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 75px;
}

#decoration {
    padding-top: 5px;
    font-size: 10px;
}


#clock {
    font-size: 10px;
    position: fixed;
    top: 8%;
    left: 80%;
}


#greeting {
    font-size: 10px;
    position: fixed;
    top: 8%;
    left: 70%;
}

#title, #subtitle, .submission {
    transform: translate(-50%, -50%);
}


#title {
    position: fixed;
    top: 20%;
    left: 26%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

#subtitle {
    position: fixed;
    top: 32%;
    left: 26%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    max-width: 70ch;
    text-align: left;
}

#line1 {
    position: fixed;
    top: 25%;
    left: 8%;
    width: 37%;
    height: 0.5px;
    border-width: 0;
    background-color: white;
}

#share {
    font-size: 12px;
    position: fixed;
    top: 49%;
    left: 8%;
}

.submission {
    position: fixed;
    top: 55%;
    left: 26%;
}

#form_title, #form_url, button {
    font-family: calluna, serif;
    font-style: normal;
    font-weight: 200;
}

#link{
    position: fixed;
    display: flex;
    flex-direction: column;
}

#link {
    padding: 7px;
    top: 20%;
    left: 72%;
    font-size: 12px;
    line-height: 32px;
    justify-content: space-between;
}

#link a:hover {
    color: rgb(124, 72, 0);
}

#username {
    position: fixed;

}

#linkhere{
    line-height: 14px;
    width: 50%;
    height: 20vh;
    align-content: flex-start;
    justify-content: space-evenly;
}

.submitedLink {
    font-size: 8px;
    max-width: 70ch;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transform: translate(-50%, -50%);
}

#line2 {
    position: fixed;
    top: 75%;
    left: 8%;
    width: 20%;
    height: 0.5px;
    border-width: 0;
    background-color: white;
}

.guide {
    position: fixed;
    font-size: 10px;
    top: 78%;
    left: 8%;
}

