
body {
    font-family: 'Spectral', serif;
    height: 20000px;
    width: 100%;
    background: 
    radial-gradient(ellipse at top, black, transparent 100%),
    linear-gradient(black, white, black, white, transparent 200%),
    radial-gradient(ellipse at bottom, black, transparent 300%);
    background-position: center center;
}

.left {
    position: fixed;
    left: 12%;
    top: 15%;
    font-size: 12px;
    font-style: italic;
    color: white;
}

.right {
    position: fixed;
    left: 12%;
    top: 18%;
    font-size: 12px;
    line-height: normal;
    color: #000000;
    width: 20%;
}

.first {
    position: fixed;
    color: white;
    opacity: 50%;
    font-size: 12px;
    width: 42%;
    top: 250px;
    left: 50%;
}

.second {
    position: relative;
    top: 1200px;
    width: 45%;
    left: 49%;
    font-size: 12px;
    color: white;
    opacity: 100%;
    display: inline-block;
    background: -webkit-linear-gradient(black, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(20px);
    background-attachment: fixed;
}

.third {
    position: relative;
    top: 1200px;
    left: 18%;
    width: 40%;
    font-size: 12px;
    color: white;
    opacity: 100%;
    display: inline-block;
    background: -webkit-linear-gradient(black, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(20px);
    background-attachment: fixed;
    
}

@media screen and (min-width: 768px) {
    .left .right .first {
        margin: 0;
        height: 30000px;
        width: 100%;
        font-size: 18px;
}
}

@media screen and (min-width: 1180px) {
    .left .right .first {
        margin: 0;
        height: 30000px;
        width: 100%;
        font-size: 18px;
}
}