
body {
    margin: 5vw;
    background-color: lightgrey;
    font-family: 'Noto Sans Mono', monospace;

}

#hour {
    position: fixed;
    width: 90px;
    height: 37.5px;
    background-color: #445A67;
}

#minute {
    position: fixed;
    top: 150px;
    width: 350px;
    height: 112.5px;
    background-color: #C29BA3;
}

#second {
    position: fixed;
    top: 310px;
    width: 1200px;
    height: 400px;
    background-color: #CAB3C1;
}

#month {
    position: fixed;
    top: 12%;
    left: 95%;
    color: #445A67;
    font-size: 20px;
    transform: rotate(90deg);
}

#date {
    position: fixed;
    top: 45%;
    left: 96.2%;
    color: #445A67;
    font-size: 20px;
    transform: rotate(90deg);
}

#year {
    position: fixed;
    top: 80%;
    left: 95.2%;
    color: #445A67;
    font-size: 20px;
    transform: rotate(90deg);
}