

body {
    height: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 8px; 
    font-style: normal; 
    font-weight: 400; 
}

a:link {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
} 

h1 {
    padding-top: 24px;
    color: lightgrey;
    text-align: center;
    line-height: 22px;
}

#third {
    border-radius: 40px;
    background: lightgrey;
    padding: 20px; 
    width: 590px;
    height: 40px; 
    font-size: 24px;
    color: black;
    position: fixed;
    top: 150px;
    left: 200px;
    line-height: 40px;
}

#four {
    border-radius: 40px;
    background:  #0096FF;
    padding: 20px; 
    width: 300px;
    height: 40px; 
    font-size: 24px;
    color: white;
    position: fixed;
    top: 300px;
    left: 900px;
    line-height: 40px;
    z-index: 2;
}

#fin {
    color: black;
    position: fixed;
    font-size: 24px;
    top: 500px;
    left: 900px;
}
